#work {
  margin-left: 8.333vw;
  margin-right: 8.333vw;
  padding-top: 20vh;
  #projects {
    padding-top: 10rem;
    margin-left: 14vw;
    margin-right: 14vw;
    display: flex;
    flex-direction: column;
    .skill {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      color: $primary;
      font-size: $s-size;
      padding-top: 1rem;
      word-spacing: 1rem;
    }
    h4:hover {
      cursor: none;
      color: $primary;
    }
    .conclusion {
      font-family: "Raleway", sans-serif;
      font-weight: 100;
      font-size: $m-size;
      color: $paragraph;
      padding-top: 10rem;
    }
  }
}

@media (max-width: 1200px) {
  #work {
    margin-left: 10vw;
    margin-right: 10vw;
    #projects {
      padding-top: 10rem;
      margin: 0;
      .skill {
        font-size: 1.5rem;
      }
      h4:hover {
        cursor: none;
        color: $primary;
      }
      .conclusion {
        font-size: 2.2rem;
      }
    }
  }
}

@media (max-width: 700px) {
  #work {
    #projects {
      padding-top: 1rem;
      .skill {
        font-size: 1.3rem;
      }
      .conclusion {
        font-size: 1.8rem;
      }
    }
  }
}
