#work {
  margin-left: 8.333vw;
  margin-right: 8.333vw;
  padding-top: 20vh;
  #projects {
    padding-top: 10rem;
    margin-left: 14vw;
    margin-right: 14vw;
    display: flex;
    flex-direction: column;
    .skill {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      color: $primary;
      font-size: $s-size;
      padding-top: 1rem;
      word-spacing: 1rem;
    }
    h4:hover {
      cursor: none;
      color: $primary;
    }
    #marvelApp,
    #graphql,
    #twitter,
    #snap,
    #cssfr,
    #irc,
    #api {
      img {
        &:hover {
          opacity: 0.7;
        }
      }
    }
    #marvelApp {
      display: flex;
      flex-direction: column;
      img {
        max-width: 30vw;
      }
      .topImage {
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
      }
    }
    #graphql {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      img {
        max-width: 30vw;
        margin-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
        text-align: end;
      }
    }
    #network {
      display: flex;
      flex-direction: column;
      img {
        max-width: 30vw;
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
      }
    }
    #twitter {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      img {
        max-width: 30vw;
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
        text-align: end;
      }
    }
    #snap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      img {
        max-width: 15vw;
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
        text-align: end;
      }
    }
    #cssfr {
      display: flex;
      flex-direction: column;
      img {
        max-width: 30vw;
      }
      .topImage {
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
      }
    }
    #irc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      img {
        max-width: 30vw;
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
        text-align: end;
      }
    }
    #api {
      display: flex;
      flex-direction: column;
      img {
        max-width: 30vw;
        padding-top: 3rem;
      }
      p:not(.skill) {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-size: $m-size;
        color: $paragraph;
        padding-top: 1.7rem;
        width: 45rem;
      }
    }
    .conclusion {
      font-family: "Raleway", sans-serif;
      font-weight: 100;
      font-size: $m-size;
      color: $paragraph;
      padding-top: 10rem;
    }
  }
}

@media (max-width: 1200px) {
  #work {
    margin-left: 10vw;
    margin-right: 10vw;
    #projects {
      padding-top: 10rem;
      margin: 0;
      .skill {
        font-size: 1.5rem;
      }
      h4:hover {
        cursor: none;
        color: $primary;
      }
      #marvelApp,
      #graphql,
      #twitter,
      #snap,
      #cssfr,
      #irc,
      #api {
        padding-top: 7rem;
        img {
          max-width: 70vw;
          padding-top: 3rem;
        }
        p:not(.skill) {
          font-size: 2.2rem;
          width: 70vw;
        }
      }
      #snap {
        img {
          max-width: 30vw;
        }
      }
      #cssfr,
      #graphql {
        img {
          padding-top: 0;
        }
        .topImage {
          padding-top: 3rem;
        }
      }
      .conclusion {
        font-size: 2.2rem;
      }
    }
  }
}

@media (max-width: 700px) {
  #work {
    #projects {
      padding-top: 1rem;
      .skill {
        font-size: 1.3rem;
      }
      #marvelApp,
      #graphql,
      #twitter,
      #snap,
      #cssfr,
      #irc,
      #api {
        img {
          max-width: 70vw;
        }
        p:not(.skill) {
          font-size: 1.8rem;
        }
      }
      #snap {
        img {
          max-width: 30vw;
        }
      }
      .conclusion {
        font-size: 1.8rem;
      }
    }
  }
}
