$paragraph: #c5c5c5;
$m-size: 1.8rem;

@mixin passion-card {
  display: flex;
  flex-direction: column;
  img {
    max-width: 27vw;
    padding-top: 3rem;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: $m-size;
    color: $paragraph;
    padding-top: 1.7rem;
  }
}

.passionCard {
  @include passion-card;
  .right {
    align-items: flex-end;
  }
}

.rightPassionCard {
  align-items: flex-end;
}
@media (max-width: 1200px) {
  .passionCard {
    padding-top: 5rem;
    img {
      max-width: 55vw;
    }
    p {
      font-size: 2.2rem;
    }
  }
}
@media (max-width: 700px) {
  .passionCard {
    p {
      font-size: 1.8rem;
    }
  }
}
