/*----------- COLORS -----------*/

$black: #000;
$white: #fff;
$primary: #4066e0;
$paragraph: #c5c5c5;

/*----------- FONT-SIZE -----------*/

$s-size: 1.5rem;
$m-size: 1.8rem;
$h1-size: 10rem;
$h2-size: 7rem;
$h3-size: 5rem;
